<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <Label>com.local.ha-update-rest</Label>
    <ProgramArguments>
      <string>/usr/local/sbin/ha_update_rest.sh</string>
    </ProgramArguments>
    <StartInterval>3600</StartInterval>
    <RunAtLoad>true</RunAtLoad>
    <KeepAlive>false</KeepAlive>
    <StandardOutPath>/var/log/ha_update_rest.out</StandardOutPath>
    <StandardErrorPath>/var/log/ha_update_rest.err</StandardErrorPath>
  </dict>
</plist>